*{
    margin: 0;
}
body{
    
    background: black;
}
.frame{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100vw;
    height: 100vh;
   
}
.tools{
    /* display: flex;
    justify-content: center; */
   
    height: 95%;
    width: 10%;
    background: white;
    border-radius: 20px;
}
.select{
    
    position: absolute;
    left: 35px;
    top: 40px;
    font-size: 22px;
}
.line1{
    position: absolute;
    top: 13%;
 
    width: 10%;
    border: .5px solid #B5B5B5;
}
.board{
    display:flex;
    width:85% ;
    height:95% ;
    background: white;
    border-radius: 20px;
}
.line2{
    position: absolute;
    top: 13%;
    left: 6.6%;
    height: 85.3%;
    border: .5px solid #B5B5B5;
}

.marker_black{
    position: absolute;
    left: 40px;
    top: 110px;
}
.black{
    position: absolute;
    top: 140px;
    left: 46px;
}
.blue{
    position: absolute;
    top: 190px;
    left: 46px;
}
.red{
    position: absolute;
    top: 240px;
    left: 46px;
}
.green{
    position: absolute;
    top: 290px;
    left: 46px;
}
