*{
    margin: 0;
}
body{
    
    background: black;
}
.frame{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100vw;
    height: 100vh;
   
}
.tools{
    display: flex;
    justify-content: center;
   
    height: 95%;
    width: 10%;
    background: white;
    border-radius: 20px;
}
.select{
    margin-top: 40px;
    /* position: absolute;
    left: 66px;
    top: 37px; */
}
.line{
    width: 2px;
    border: 2px solid black;
}
.board{
    display:flex;
    width:85% ;
    height:95% ;
    background: white;
    border-radius: 20px;
}
